<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Page</title>
    </head>
    <body>
        <p>Ваш JWT токен: {{TOKEN}}</p>
        <script>
            // Replace the URL to remove query parameters
            window.history.replaceState(
                {},
                document.title,
                window.location.pathname,
            );

            // Function to get a cookie by name
            function getCookie(name) {
                const value = "; " + document.cookie;
                const parts = value.split("; " + name + "=");
                if (parts.length === 2) return parts.pop().split(";").shift();
            }

            // Fetch protected resource
            const token = getCookie("access_token");

            if (token) {
                fetch("/api/v1/protected", {
                    method: "GET",
                    headers: {
                        Authorization: "Bearer " + token,
                    },
                })
                    .then((response) => response.text())
                    .then((data) => {
                        document.body.innerHTML += "<hr>" + data;
                    })
                    .catch((error) => {
                        document.body.innerHTML +=
                            "<hr>" +
                            "Ошибка при получении защищённого ресурса: " +
                            error;
                    });

                // Add Logout button
                const logoutButton = document.createElement("button");
                logoutButton.textContent = "Logout";
                logoutButton.style.marginTop = "20px";
                logoutButton.onclick = () => {
                    fetch("/api/v1/logout", {
                        method: "POST",
                        headers: {
                            Authorization: "Bearer " + token,
                        },
                    })
                        .then((response) => {
                            if (response.ok) {
                                document.body.innerHTML +=
                                    "<hr>Вы успешно вышли из системы.";
                                document.cookie =
                                    "access_token=; path=/; expires=Thu, 01 Jan 1970 00:00:00 GMT";
                            } else {
                                response.text().then((text) => {
                                    document.body.innerHTML +=
                                        "<hr>Ошибка при выходе: " + text;
                                });
                            }
                        })
                        .catch((error) => {
                            document.body.innerHTML +=
                                "<hr>Ошибка при выходе: " + error;
                        });
                };
                document.body.appendChild(logoutButton);
            } else {
                document.body.innerHTML +=
                    "<hr>" + "Cookie access_token не найден.";
            }
        </script>
    </body>
</html>
